.containerUser {
    display: flex;
    justify-content: space-between;
}

.nameUser {
    font-size: 26px;
    color: darkblue;
}

.iconUser {
    margin: 0 5px;
}

.settingsUser {
    cursor: pointer;
}