.searchBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    position: relative;
}

.containerSearch {
    margin-bottom: 10px;
}

.searchBar .search {
    display: inline-block;
    width: 40%;
    margin-left: 15px;
}

.searchBar .labelSearch {
    padding-top: 5px;
}

.resultSearch {
    position: absolute;
    width: 100%;
    top: 50px;
    height: 540px;
    border: 1px solid blue;
    background: white;
    border-radius: 15px;
    overflow: auto;
    z-index: 10;
}

.resultSearch-infoDialog p {
    display: inline-block;
    width: 25%;
}