.Operator-page {
    display: flex;
    width: 100%;
    padding: 10px;
    font-family: "Trebuchet MS";
}

.container-content {
    width: 75%;
    background: white;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid lightgrey;
    margin-left: 10px;
    min-height: 500px;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.content {
    padding: 20px 10px;
}

.queue__list {
    height: 500px;
    overflow: auto;
}

.chat-elem {
    display: flex;
}

.chat-elem > div {
    margin-right: 5px;
}

.chat-elem__user {
    width: 10%;
    padding: 2px 5px;
}

.chat-elem__topic {
    width: 10%;
}

.chat-elem__topic_title {
    color: darkblue;
    margin: 0;
    font-weight: bold;
}

.chat-elem__message {
    width: 65%;
    padding: 0 10px;
}

.chat-elem__actions {
    width: 15%;
    padding: 2px 10px;
}

.chat-elem__actions_time {
    margin: 10px;
}