.TitlePage {
    width: 90%;
    margin: 10px auto;
    color: white;
}

.containerForm {
    width: 90%;
    margin: 10px auto;
    padding: 5px;
}

.Page .btnCustomNet {
    width: 30%;
    border: none;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    line-height: 16px;
    background: transparent;
    color: white;
}

.colorWhite {
    color: white;
}

.containerLinks {
    margin: 5px 0 15px 0;
}

