.containerError {
    width: 50%;
    margin: 5% auto;
    padding: 10px;
    color: blue;
    background: white;
    text-align: center;
    border-radius: 15px;
}

.linkInError {
    font-size: 20px;
    line-height: 16px;
    font-weight: 600;
}