.headerTitle {
    color: white;
    text-align: center;
    background-image: linear-gradient(to right bottom, #00bfff, blue);
    padding: 5px;
    margin: 0;
    font-family: "Trebuchet MS";
}

.headerTitle__icon {
    margin: 0 5px;
}