.OperatorPage {
    display: flex;
    width: 100%;
    padding: 10px;
    font-family: "Trebuchet MS";
}

.containerBodyOperatorPage {
    width: 75%;
    background: white;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid lightgrey;
    margin-left: 10px;
    min-height: 550px;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}
