.OperatorPage {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.containerBodyOperatorPage {
    width: 87%;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid dodgerblue;
    margin-left: 10px;
    min-height: 550px;
}
