.Settings-dialogues {
    width: 70%;
    font-family: "Trebuchet MS";
}

.Settings-dialogues-containers {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.Settings-dialogues-container {
    width: 50%;
    padding: 5px;
}

.settings-dialogue-item {
    display: flex;
    margin: 10px 0;
}

.settings-dialogue-action {
    margin: 0 10px;
}

.max-height {
    max-height: 25px;
}

.settings-dialogue-topics {
    padding: 5px;
}