.formSettings {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-family: "Trebuchet MS";
}

.formSettings__inputs {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.formSettings__containerAvatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formSettings__inputs_label {
    margin-bottom: 10px;
}

.formSettings_btn {
    margin: 10px 0;
}