.pageFinished-contentMessage {
    width: 50%;
}

.containerInfo {
    display: flex;
    width: 30%;
}

.timeAndStar {
    width: 60%;
}

.timeAndStar div {
    text-align: center;
    margin-bottom: 5px;
}

.buttons {
    width: 30%;
}

.buttons button {
    margin-bottom: 5px;
}