.navBar {
    width: 10%;
    margin-right: 20px;
    font-family: "Trebuchet MS";
}

.listBar {
    border: 2px solid lightgrey;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.navItem {
    width: 100%;
    height: 150px;
    margin: 15px auto;
    text-align: center;
    color: darkblue;
}

.customIcon {
    margin-top: 10px;
}

.nav {
    width: 50%;
    margin: 0 auto;
}

.linkNav {
    color: darkblue;
    text-decoration: none;
}