.pageLogin .containerLinks__link_btnGoogle {
    width: 30%;
    border: none;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    line-height: 16px;
    background: transparent;
    color: white;
}

.containerLinks__link_icon {
    display: block;
    margin: 0 auto;
}


