.page {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    line-height: 16px;
}

.pageLogin .containerLinks__link_btnGoogle {
    width: 150px;
    border: none;
    background: transparent;
    color: white;
}

.containerLinks__link_icon {
    display: block;
    margin: 0 auto;
}


