.infoDialog   {
    display: flex;
}

.infoDialog-user {
    width: 13%;
}

.infoDialog-topic {
    width: 10%;
}

.titleTopic {
    color: darkblue;
    margin: 0;
    font-weight: bold;
}

.containerQueue {
    z-index: 2;
}

.queue {
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
}

.listQueue {
    height: 500px;
    overflow: auto;
}

.contentMessage {
    width: 70%;
    padding: 0 10px;
}

.infoDialog-time_button {
    width: 15%;
}

.infoDialog-time {
    margin-bottom: 10px;
}
